html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  @extend %montserrat;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  // max-width: 1760px;
  // margin: 0 auto;
  // padding: 0 15px;
  padding: 0 95px;
  @include md($hd) {
    padding: 0 55px;
  }
  @include md($desktop) {
    padding: 0 35px;
  }
  @include md($tablet-2) {
    padding: 0 15px;
  }
}
//адаптивный контейнер
// @media (max-width: 1200px) {
//   .container {
//     max-width: 970px;
//   }
// }
// @media (max-width: 992px) {
//   .container {
//     max-width: 750px;
//   }
// }
// @media (max-width: 768px) {
//   .container {
//     max-width: none;
//   }
// }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  // padding-top: 25px;
  // &--active {
  //   background-color: #fff;
  //   padding: 5px 0;
  // }

  &__nav {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 19px;
    @include md($hd) {
      font-size: 17px;
    }
  }

  &__logo {
    margin-right: 205px;
    @include md($hd) {
      margin-right: auto;
    }
  }

  &__menu {
    margin-right: auto;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }
}
.chat {
  &__button {
    position: fixed;
    background-color: #fff;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    z-index: 50;
    right: 5%;
    bottom: 5%;
    transition: all 0.3s;
    &::after {
      content: "";
      mask-image: url("../images/svg-images/chat.svg");
      background-color: #000;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }
    &:hover {
      background-color: #000;
      &::after {
        background-color: #fff;
      }
    }
  }
}
.h1-title {
  font-size: 32px;
  font-weight: 600;
}

.menu {
  display: flex;
  @include md($tablet-2) {
    display: none;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 25px;
      @include md($hd) {
        margin-right: 15px;
      }
    }
  }
  &__link {
    padding: 5px 20px;
    @include md($hd) {
      padding: 5px 10px;
    }
    &--active {
      border-radius: 17px;
      background-color: rgba(44, 53, 64, 0.1);
    }
  }
}

.logo {
  &__img {
    @include md($hd) {
      width: 96px;
      height: 50px;
    }
  }
}

.grey-effects {
  transition: all 0.1s ease 0.1s;
  border-radius: 17px;
  &:hover {
    background: rgba(44, 53, 64, 0.1);
  }
}

.change-language {
  display: flex;
  margin-right: 35px;
  &__item {
    &:first-child {
      padding-right: 15px;
      position: relative;
      &:after {
        content: "/";
        position: absolute;
        right: 4px;
      }
    }
  }
}

.menu-btn {
  margin-right: 3px;
}

.burger {
  @include burger;
}

.order-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  border: 3px solid #313131;
  color: #313131;
  border-radius: 35.5px;
  background-color: #f2f2f2;
  align-self: baseline;
  white-space: nowrap;
  transition: all 0.2s;
  & span {
    position: relative;
    padding-right: 25px;
    &::after {
      content: "";
      position: absolute;
      mask-image: url("../images/svg-images/arrow-right.svg");
      background-color: #313131;
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: center;
      width: 24px;
      height: 22px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: all 0.2s;
    }
  }

  &:hover {
    background-color: #000;
    color: #fff;
    filter: drop-shadow(0 3px 11px rgba(0, 0, 0, 0.47));
    & span:after {
      background-color: #fff;
    }
  }
}

.burger-menu {
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(110%);
  transition: all 0.3s ease 0.1s;
  z-index: 99;
  opacity: 0;
  &--active {
    transform: translateX(0);
    opacity: 1;
  }

  &__wrapper {
    background-color: #fff;
    height: 100vh;
    width: 20vw;
    padding: 85px 50px 0 48px;
    font-weight: 500;
    position: relative;
    @include md($hd) {
      padding: 65px 40px 0 38px;
    }
    @include md($desktop) {
      padding: 65px 25px 0 25px;
    }
    @include md($tablet-2) {
      width: 30vw;
    }
  }

  &__btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.1s ease 0.1s;
    &::after {
      content: "";
      background-image: url("../images/decorative-img/x-btn.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    max-width: 355px;
    width: 100%;
  }

  &__item {
    margin-bottom: 19px;
    @include md($hd) {
      margin-bottom: 15px;
    }
  }

  &__link {
    display: block;
    padding: 4px 20px;
    @include md($desktop) {
      font-size: 14px;
    }
    &--active {
      padding: 4px 23px;
      border-radius: 17.5px;
      background: rgba(196, 196, 196, 0.25);
    }
  }

  &__language {
    padding-left: 46px;
    position: relative;
    &::before {
      content: "";
      background-image: url("../images/decorative-img/language.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 19px;
      height: 19px;
      position: absolute;
      left: 20px;
    }
  }
}

.lock {
  position: relative;
  transition: all 0.1s;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}

.double-section-main {
  &__container {
    padding-right: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }

  &__body {
    max-width: 450px;
    width: 100%;
    padding: 115px 45px 50px 0;
    display: flex;
    flex-direction: column;
  }

  &__inner {
    flex: 1 0 auto;
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  &__text-link {
    font-weight: 700;
    text-decoration: underline;
  }

  &__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

.swiper {
  height: 100vh;
  width: 100%;
}

.swiper-pagination-bullets {
  display: inline-flex;
  width: 4px;
  flex-direction: column;
  align-items: center;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  width: 20px;
  position: relative;
  height: 34px;
  background-color: transparent;
  &::after {
    content: "";
    width: 2px;
    border-radius: 5px;
    height: 34px;
    background-color: #9f9f9f;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.swiper-pagination-bullet-active {
  &::after {
    width: 4px;
    background-color: #090909;
  }
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  left: 25px;
}

.footer {
  background-color: rgba(242, 242, 242, 0.57);
  &--black {
    background-color: #151515;
    color: #fff;
  }
  &__top {
    border-top: 1px solid #a4a4a4;
    padding: 50px 0 50px;
    display: flex;
    justify-content: center;
  }

  &__copyright {
    font-weight: 500;
    border-top: 1px solid #a4a4a4;
    padding: 10px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.61);
  }
}

.footer-box {
  margin-right: 216px;
  &__name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 7px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.contact-details {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--black {
    &__item {
      &::before {
        background-color: #000;
      }
    }
  }
  &__list {
    font-weight: 500;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__item {
    margin-bottom: 10px;
    padding-left: 23px;
    position: relative;
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      position: absolute;
    }
    &--email {
      &::before {
        background-image: url("../images/svg-images/email.svg");
      }
    }
    &--tel {
      &::before {
        background-image: url("../images/svg-images/tel.svg");
      }
    }
  }
}

.socials {
  display: flex;
  align-self: flex-start;
  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__link {
    display: block;
    position: relative;
    width: 23px;
    height: 23px;
    &::after {
      content: "";
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 23px;
      height: 23px;
      top: 0;
      left: 0;
    }
    &--linkedin {
      &::after {
        background-image: url("../images/decorative-img/linkedin.png");
      }
    }
    &--instagram {
      &::after {
        background-image: url("../images/decorative-img/instagram.png");
      }
    }
    &--facebook {
      &::after {
        background-image: url("../images/decorative-img/facebook.png");
      }
    }
  }
}
