//брэкпоинты
$tel: 375;
$phone: 600;
$tablet: 767.9;
$tablet-2: 991.9;
$desktop: 1200;
$hd: 1500;

$height: 500; 

%montserrat {
  font-family: "Montserrat", sans-serif;
}
//burger-menu
$burgerWidth: 24px; //ширина линий - 40px
$burgerHeight: 16px; //высота линий - 25px
$burgerLineHeight: 2px; //расстояние между ними - 2px
$burgerColor: #000; //цвет - белый
