@import "reset";
@import "fonts";
@import "vars";
@import "mixins";
@import "libs";
@import "animate";
@import "global";

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  &__title {
    font-size: 36px;
    max-width: 500px;
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    @include line-clamp(4);
    & span {
      padding-top: 10px;
      display: block;
      font-weight: 400;
      font-size: 23px;
      @include line-clamp(2);
      @include md($tablet-2) {
        font-size: 18px;
        max-width: 500px;
        width: 100%;
      }
      @include md($tablet) {
        font-size: 14px;
      }
    }
    @include md($hd) {
      text-align: center;
    }

    @include md($tablet) {
      font-size: 24px;
    }
  }

  &__row {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 15%;
    left: 55%;
    transform: translate(-55%);
    padding: 0 15px;
    @include md($tablet-2) {
      flex-direction: column;
    }
  }

  &__arrow-down {
    display: inline-flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 44px;
    height: 44px;
    &::after {
      content: "";
      mask-image: url("../images/svg-images/arrow-down.svg");
      background-color: #fff;
      width: 44px;
      height: 44px;
      position: absolute;
      mask-size: cover;
      mask-position: center;
      mask-repeat: no-repeat;
      @include md($tablet) {
        width: 35px;
        height: 35px;
      }
    }
    @include md($tablet) {
        width: 35px;
        height: 35px;
      }
  }

  &__link {
    padding: 24px 42px;
    border: none;
    align-self: center;
    border-radius: 46px;
    box-shadow: 0 3px 11px rgba(0, 0, 0, 0.47);
    @include md($tablet-2) {
      padding: 15px 32px;
    }
    @include md($phone) {
      padding: 10px 15px;
    }
  }
}

.benefits {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  @include md($hd) {
    margin-right: 0;
    justify-content: center;
    column-gap: 50px;
  }

  @include md($tablet-2) {
    padding-bottom: 20px;
    column-gap: 25px;
  }

  &__item {
    max-width: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    @include md($tablet-2) {
      font-size: 26px;
    }
  }

  &__text {
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    @include line-clamp(2);
    @include md($tablet) {
      font-size: 10px;
    }
  }
}

.economy {
  &__link {
    padding: 15px 80px;
    align-self: center;
  }
}

.design {
  &__row {
    display: flex;
  }

  &__button {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
    &::before {
      content: "";
      border: 2px solid #000;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      margin-right: 5px;
      z-index: -1;
      transition: all 0.2s;
    }
    &::after {
      content: "";
      mask-image: url("../images/svg-images/plus.svg");
      background-color: #000;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      z-index: 20;
      transition: all 0.2s;
    }

    &:hover {
      &::before {
        background-color: #000;
      }
      &::after {
        background-color: #fff;
      }
    }
  }

  &__link {
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 500;
    & span {
      padding-right: 20px;
      &::after {
        width: 19px;
        height: 18px;
      }
    }
  }
}

.smart-wall {
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__bg {
    height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 0 auto;
  }

  &__body {
    padding: 20px 0 60px;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
  }

  &__inner {
    padding-top: 25px;
    margin-right: 42px;
  }

  &__subtitle {
    margin-bottom: 5px;
  }

  &__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 42px;
  }

  &__links {
    display: flex;
  }

  &__item {
    margin-right: 20px;
    & a {
      padding: 15px 50px;
    }

    &:last-child {
      margin-right: 0;
      & a {
        padding: 15px 30px;
      }
    }
  }
  &__text {
    font-weight: 500;
    flex: 0 1 798px;
  }
}

.solar-panel-specifications {
  background-color: #151515;
  &__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__body {
    display: flex;
    justify-content: center;
    column-gap: 140px;
  }

  &__img {
    background-image: url("../images/content/s-panel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 635px;
    height: 659px;
  }
}

.specifications {
  flex: 1 1 auto;
  max-width: 530px;
  width: 100%;
  &__title {
    font-weight: 700;
    font-size: 26px;
    color: #fff;
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    flex-flow: column wrap;
    column-gap: 72px;
    height: 530px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-column-gap: 72px;
  }
  &__item {
    padding-top: 16px;
    position: relative;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    &::before {
      content: "";
      width: 110px;
      height: 2px;
      border-radius: 5px;
      background-color: #595959;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__desc {
    color: rgba(#fff, 0.59);
  }
}

.last-sentence {
  background-color: #151515;
  &__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
  }
  &__body {
    text-align: center;
    color: #fff;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__item {
    &:first-child {
      & a {
        padding: 17px 117px;
        margin-bottom: 25px;
      }
    }
    &:last-child {
      & a {
        padding: 17px 101px;
      }
    }
  }

  &__link {
    color: #fff;
    border: 3px solid #fff;
    background-color: #151515;
    & span {
      &::after {
        background-color: #fff;
      }
    }
    &:hover {
      background-color: #fff;
      color: #000;
      border: 3px solid #313131;
      & span {
        &::after {
          background-color: #000;
        }
      }
    }
  }

  &__footer {
    flex: 0 0 auto;
  }
}
