@import "reset";
@import "fonts";
@import "vars";
@import "mixins";
@import "libs";
@import "animate";
@import "global";

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  &__title {
    font-weight: 700;
    font-size: 36px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    & span {
      padding-top: 10px;
      display: block;
      font-weight: 400;
      font-size: 23px;
    }
  }

  &__row {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 55%;
    transform: translate(-55%);
  }

  &__arrow-down {
    display: inline-flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 44px;
    height: 44px;
    &::after {
      content: "";
      mask-image: url("../images/svg-images/arrow-down.svg");
      background-color: #fff;
      width: 44px;
      height: 44px;
      position: absolute;
      mask-size: cover;
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }

  &__link {
    padding: 22px 45px;
    border: none;
    font-size: 22px;
    border-radius: 46px;
  }
}

.benefits {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-right: 80px;
  &__item {
    max-width: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    &:last-child {
      align-items: flex-start;
    }
  }

  &__text {
    padding-top: 5px;
    font-size: 12px;
  }
}

.economy {
  &__container {
    padding-right: 0;
  }
  &__link {
    padding: 15px 80px;
    align-self: center;
  }
}

.design {
  &__container {
    padding-right: 0;
  }

  &__row {
    display: flex;
  }

  &__button {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
    &::before {
      content: "";
      border: 2px solid #000;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      margin-right: 5px;
      z-index: -1;
      transition: all 0.2s;
    }
    &::after {
      content: "";
      mask-image: url("../images/svg-images/plus.svg");
      background-color: #000;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      z-index: 20;
      transition: all 0.2s;
    }

    &:hover {
      &::before {
        background-color: #000;
      }
      &::after {
        background-color: #fff;
      }
    }
  }

  &__link {
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 500;
    & span {
      padding-right: 20px;
      &::after {
        width: 19px;
        height: 18px;
      }
    }
  }
}

.smart-wall {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__bg {
    height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__body {
    padding: 20px 0 60px;
    display: flex;
    justify-content: center;
  }

  &__inner {
    padding-top: 25px;
    margin-right: 42px;
  }

  &__subtitle {
    margin-bottom: 5px;
  }

  &__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 42px;
  }

  &__links {
    display: flex;
  }

  &__item {
    margin-right: 20px;
    & a {
      padding: 15px 50px;
    }

    &:last-child {
      margin-right: 0;
      & a {
        padding: 15px 30px;
      }
    }
  }
  &__text {
    font-weight: 500;
    flex: 0 1 798px;
  }
}

.solar-panel-specifications {
  background-color: #151515;
  &__inner {
    padding: 165px 0 173px;
    display: flex;
    justify-content: center;
    column-gap: 140px;
  }

  &__img {
    background-image: url("../images/content/s-panel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 635px;
    height: 659px;
  }
}

.specifications {
  flex: 1 1 auto;
  max-width: 530px;
  width: 100%;
  &__title {
    font-weight: 700;
    font-size: 26px;
    color: #fff;
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    flex-flow: column wrap;
    column-gap: 72px;
    height: 530px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-column-gap: 72px;
  }
  &__item {
    padding-top: 16px;
    position: relative;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    &::before {
      content: "";
      width: 110px;
      height: 2px;
      border-radius: 5px;
      background-color: #595959;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__desc {
    color: rgba(#fff, 0.59);
  }
}

.last-sentence {
  background-color: #151515;
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  &__body {
    text-align: center;
    color: #fff;
    padding: 300px 0 200px;
    flex: 1 1 auto;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__item {
    &:first-child {
      & a {
        padding: 17px 117px;
        margin-bottom: 25px;
      }
    }
    &:last-child {
      & a {
        padding: 17px 101px;
      }
    }
  }

  &__link {
    color: #fff;
    border: 3px solid #fff;
    background-color: #151515;
    & span {
      &::after {
        background-color: #fff;
      }
    }
    &:hover {
      background-color: #fff;
      color: #000;
      border: 3px solid #313131;
      & span {
        &::after {
          background-color: #000;
        }
      }
    }
  }
}



.footer {
  background-color: #151515;
  &__top {
    border-top: 1px solid #a4a4a4;
    padding: 50px 0 50px;
    display: flex;
    justify-content: center;
  }

  &__copyright {
    font-weight: 500;
    border-top: 1px solid #a4a4a4;
    padding: 10px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.61);
  }
}

.footer-box {
  color: #fff;
  margin-right: 216px;
  &__name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 7px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.contact-details {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    font-weight: 500;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__item {
    margin-bottom: 10px;
    padding-left: 23px;
    position: relative;
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      position: absolute;
    }
    &--email {
      &::before {
        background-image: url("../images/svg-images/email.svg");
      }
    }
    &--tel {
      &::before {
        background-image: url("../images/svg-images/tel.svg");
      }
    }
  }
}

.socials {
  display: flex;
  align-self: flex-start;
  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__link {
    display: block;
    position: relative;
    width: 23px;
    height: 23px;
    &::after {
      content: "";
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 23px;
      height: 23px;
      top: 0;
      left: 0;
    }
    &--linkedin {
      &::after {
        background-image: url("../images/decorative-img/linkedin.png");
      }
    }
    &--instagram {
      &::after {
        background-image: url("../images/decorative-img/instagram.png");
      }
    }
    &--facebook {
      &::after {
        background-image: url("../images/decorative-img/facebook.png");
      }
    }
  }
}
